.link {
  width: 36px;
  height: 36px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 8px;

  cursor: pointer;

  svg * {
    stroke: var(--gray-600);
    // fill: var(--gray-600);
  }

  &:hover {
    transition: all 200ms ease-in-out;
    background-color: var(--gray-200);
  }

  &:active {
    transition: all 200ms ease-in-out;

    background-color: var(--gray-400);
    svg * {
      stroke: var(--gray-900);
    }
  }
}
